body {
    margin: 35px;
}
.container {
	text-align: center;
}

.the_viz {
	text-align: center;
    height: 80%;
    width: 100%;
}

div.tooltip {	
    position: absolute;			
    text-align: center;	
    top: 50%;
    font: 10px Tahoma;
    pointer-events: none;
    height: 80px;
    width: 80px;
    border-radius: 10%;	
    color: white;
}


.waterline { 
    stroke: #0095FF;
    stroke-width: 4;
    fill: none;
}

.coffeeline { 
    stroke: #FF9740;
    stroke-width: 4;
    fill: none;
}

.xaxis path,
.xaxis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.xaxis text {
    font-size: 14px;
}

.yaxis path,
.yaxis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.yaxis text {
    font-size: 14px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}